/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Content col full **/
#content .col-full {
	font-style: normal !important;
	font-variant: normal !important;
}

/** General >> Post 1 posted on **/
#post-1 .posted-on {
	text-decoration: none !important;
}


/*= Main Menu ================= */

/** Main Menu >> Content col full _2 **/
#content .col-full {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto !important;
	top: 20px !important;
}

/** Main Menu >> Main **/
#main {
	width: 1000px !important;
	position: static !important;
	top: 20% !important;
}

/** Main Menu >> Primary **/
#primary {
	
}

/** Main Menu >> Masthead custom logo **/
#masthead .custom-logo {
	
}

