/*
Theme Name: theme-enfant
Description: theme-enfant de TIzio storefront
Author:Tizio - storefront

Template: storefront 
Version: 0.1.0
*/
a{
    color:#ff4b01 !important;
}
a:hover{
    color: #faa000 !important;
}

.site-header{
    background: linear-gradient(#879499 ,#3e4749 );
    font-size: large;
}

.site-footer{
    background: linear-gradient(#3e4749,#879499);
}


.logo{
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.custom-logo-link{
    width: 100%;
    height: 100%;
}

img.custom-logo{
    width: 100px !important;
    height: 100px !important;
}

.site-search{
    display: none;
}

h1, h2{
    color: #faa000 !important;
}

.products .outofstock .button.product_type_simple::before{
    content: "Indisponible";
    visibility: visible !important;
    background-color: #d5d5d5;
    padding: 9% 10%;
    position: absolute;
    color: #ff4b01;
    margin-top: -10px;
    left: 0;
    right: 0;
    border-radius: 3px;

}

ul.products li.product img{
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 950px) {
    
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 840px !important; 
    }
}
@media screen and (max-width: 850px) {
    
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 740px !important; 
    }
}

@media screen and (max-width: 750px) {

    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 650px !important; 
    }
}

@media screen and (max-width: 650px) {
    
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 540px !important; 
    }
}


@media screen and (max-width: 550px) {
    
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 440px !important; 
    }
}

@media screen and (max-width: 450px) {
     
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 340px !important; 
    }
 }

 @media screen and (max-width: 350px) {
     
    .site-header{
        width: 100%;
    }

    .site-footer{
        width: 100%;
    }
    
    #main.site-main{
        width: 240px !important; 
    }
 }



